body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.logo-container {
    margin-top: 24px;
    margin-bottom: 16px;
    }
        
.logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    }

.map-placeholder {
    width: 95vw;
    max-width: 400px;
    height: 35vh;
    min-height: 180px;
    background: #222;
    border-radius: 16px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.rooms-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  
    }
        
.rooms-btn {
    background: #c00;
    color: #fff;
    justify-content: space-between;
    width: 90vw;
    max-width: 200px;
    border-radius: 24px;
    padding: 13px 45px;
    font-size: 1.3rem;
    font-weight: bold;
  
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    
 
    }

    .arrow-down {
        font-size: 1.2em;
        transition: transform 0.3s;
    }

    



@media (max-with: 500px) {
    .logo {
        width: 90px;
        height: 90px;
    }
    .map-placeholder {
        height: 3180px;
    }
    .rooms-btn {
        font-size: 1rem;
        padding: 14px 0;
    }
}